<div class="container">
  <div class="row">
    <div class="col-sm-8">
    <form (submit)="findByName()" class="form form-inline">
      Name:<input name="inputName" [(ngModel)] = "inputName" class="form-control" />
      <input type="submit" value="filter" class="btn btn-default" />
    </form>
    </div>
    <div class="pagination"> 
      <button *ngIf="currentPage>0" (click)="changePage(-1)" class="page-item"><i class="fa fa-caret-square-o-left"></i></button>
       {{currentPage}}
       <button *ngIf="currentPage <totalPages-1" (click)="changePage(1)" class="page-item"><i class="fa fa-caret-square-o-right"></i></button>
    </div>
  </div>
</div>      
<div class="container">
  <div class="row">
    <div class="{{getTableClass()}}">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th *ngIf="isLoggedIn()" scope="col">Action</th>
          </tr>
        </thead>
        <tbody *ngFor= "let item of items">
          <tr>
            <td scope="row">{{item.id}}</td>
            <td scope="row">{{item.name}}</td>
            <td scope="row">{{item.category.name}}</td>
            <td scope="row">{{item.price}}</td>
            <td *ngIf="isLoggedIn()">
                <button class="btn btn-danger" (click) = "delete(item.id)">delete<i class="fa fa-trash"></i></button>
                <button class="btn btn-default" (click)= "update(item)">update</button>
                <button class="btn btn-success" (click) = "order(item.id)">order</button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
    <div *ngIf="isLoggedIn()" class="col-sm-4">
      <form class="form" (submit)="save()">
        <div class="form-group">
          Name: <input class="form-control" [(ngModel)] = "itemToAdd.name" type="text" name="name" />
        </div>
        <div class="form-group">
          Category: <select class="form-control" [(ngModel)] =" itemToAdd.category" name="category">
                      <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
                    </select>
        </div>
        <div class="form-group">
          Price: <input class="form-control" [(ngModel)] = "itemToAdd.price" type="text" name="price" />
        </div>
        <div class="pull-right">
        <div class="form-group">
          <button class="btn btn-warning" (click) ="reset()" >reset</button>
          <input class="btn btn-default " type="submit" value="save"/>
        </div>
        </div>          
      </form>
    </div>
    
      
      
  </div>
  <div  *ngIf="isLoggedIn()" class="row">
   <div class="col-sm-3">
        <div class="float-right">
          <h3>Order List</h3>
          <ul *ngFor="let o of itemsToOrder" class="list-group">
            <li scope="row" class="list-group-item list-group-item-primary">{{o.name}}{{o.price}}
              <button class="btn btn-danger" (click)="removeOrder(o.id)">remove</button>
            </li>
          </ul>
          Ukupno: <p>{{finalPrice}}<p>
          <button class="btn btn-success" (click)="buy()">buy</button>
        </div>
      </div>
</div>
</div>    